body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    padding: 10px;
    border: 2px solid #000;
    width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    background-color: #ffff00;
    padding: 10px;
    border: 2px solid #000;
    color: red;
}

table {
    width: 100%;
    border: 1px solid black ;
    background-color: #68a9be;
}

td {
    padding: 10px;
    color: rgb(1, 1, 1);
    border: 2px solid black ;
}

input[type="text"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 5px;
}

input[type="button"],
input[type="reset"],
input[type="button"] {
    width: 30%;
    padding: 10px;
    margin: 10px 5px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}